.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-header {
  height: 96px;
}

.main-header, .main-nav {
  background-color: #001433;
  color: white;
}

.main-logo {
  margin-left: 11px;
  margin-top: 11px;
}

.info-row, .bill-search {
  font-size: 13px;
  font-weight: bold;
  margin-top: 19px;
}

.info-row button, .bill-search button {
  width: 147px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.info-bar {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 11px;
  margin-right: 21px;
}

.info-bar p, .bill-search p {
  margin-bottom: 0;
  margin-right: 20px;
  font-weight: normal;
}

.info-bar p:last-child {
  margin-right: 0;
}

.bill-search p {
  margin-right: 9px;
  margin-left: 117px;
}

.bill-search button {
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 4px;
}

.filter-panel {
  margin-top: 3px;
  margin-left: 83px;
}

.filter-item {
  margin-right: 7px;
}

.filter-item button {
  font-size: 13px;
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#cleanFilter {
  font-size: 13px;
  text-decoration: underline;
  margin-left: 25px;
}

.main-nav {
  height: calc(100vh - 96px);
  padding-left: 7px;
}

.main-menu-item, .file-menu-item
 {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-menu-item {
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

main {
  padding-top: 17px;
  background-color: #e5e5e5;
}

.chart-card {
  position: relative;
  width: 263px;
  height: 81px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
  padding: 7px;
  padding-left: 10px;
  margin-right: 11px;
}

.chart-card .close,
.header-chart-card .close {
  position: absolute;
  top: 0px;
  right: 8px;
  color: #7c7c7c;
}

.chart-card .card-title {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
}

.chart-card .card-text {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 4px;
}

.card-trend {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-trend-up {
  color: #18b015;
  position: relative;
}

.card-trend-up::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 46px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  background-image: url("img/trend-up-icon.png");
}

.card-trend-down {
  color: #ff4343;
  position: relative;
}

.card-trend-down::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 47px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  background-image: url("img/trend-down-icon.png");
}

.chart-card-img {
  margin-top: 14px;
  margin-right: 17px;
}

.round-diagram {
  margin-top: 0;
  margin-right: 40px;
}

.header-chart-card {
  position: relative;
  width: 263px;
  height: 308px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
}

.header-card-title {
  height: 39px;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  background-color: #001433;
  font-size: 12px;
  font-weight: 400;
  padding-top: 7px;
  padding-left: 10px;
}

.right-column .header-chart-card {
  margin-bottom: 15px;
}

.pie-chart {
  width: 160px;
  height: 168px;
  margin-top: 42px;
  margin-left: 50px;
}

.pie-legend {
  width: 92px;
  height: 12px;
  margin-top: 8px;
  margin-left: 14px;
}

.pie-income {
  position: absolute;
  top: 90px;
  left: 55px;
  font-size: 12px;
}

.pie-outcome {
  position: absolute;
  top: 275px;
  left: 185px;
  font-size: 12px;
}

.fee-bar {
  width: 220px;
  height: 9px;
}

.fee-bar-legend {
  font-size: 9px;
  font-weight: 400;
  margin-bottom: -8px;
}

.fee-bar-value {
  margin-left: 150px;
}

.fee-bar-total-label {
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 4px;
}

.fee-bar-total {
  font-size: 36px;
  font-weight: normal;
  color: #009dd9;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-card-body {
  padding-left: 18px;
}