.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-header {
  height: 96px;
  padding-left: 88px;
}

.main-header, .main-nav {
  background-color: #001433;
  color: white;
}



.info-col {
  padding-top: 20px;
}

.info-row, .bill-search {
  font-size: 13px;
  font-weight: bold;
}

.info-row button, 
.bill-search button,
.header-button {
  width: 147px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.info-row button:first-of-type {
  margin-left: 21px;
}

.info-bar {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.info-bar p, .bill-search p {
  margin-bottom: 0;
  margin-right: 20px;
  font-weight: normal;
}

.info-bar p:last-child {
  margin-right: 0;
}

.info-bar-label {
  font-size: 10px;
  font-weight: 400;
}

.info-bar-value {
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.info-bar-label, .info-bar-value {
  text-align: center;
}

.bill-search p {
  margin-right: 9px;
  /* margin-left: 117px; */
}

.bill-search button {
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 4px;
}

.filter-panel {
  margin-left: 83px;
}

.filter-item {
  margin-right: 7px;
}

.filter-item button {
  font-size: 13px;
  border-radius: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#cleanFilter {
  font-size: 13px;
  text-decoration: underline;
  margin-left: 25px;
}

.mobile-menu-btn {
  padding-left: 5px;
  padding-right: 5px;
}

.drop-menu {
  width: 100%;
  background: rgba(0, 20, 51, 0.88);
  backdrop-filter: blur(15px);
  padding-left: 12px;
  padding-top: 35px;
}

.close-menu {
  position: fixed; 
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 15px;
}

#filterMenu {
  padding-top: 35px;
  padding-bottom: 27px;
}

#filterMenu .filter-item:last-child {
  padding-top: 38px;
}

#filterMenu .filter-item button {
  width: 286px;
  margin-bottom: 10px;
  text-align: left;
}


.filter-menu-text {
  position: relative;
  display: inline-block;
  width: 100%;
}

.filter-menu-text::after {
  content: url(img/down_arrow.svg);
  position: absolute;
  width: 12px;
  height: 12px;
  right: 10px;
}

.add-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 37px;
}

.add-menu button {
  margin-bottom: 30px;
  width: 289px;
}

.bill-search-menu {
  display: flex;
  justify-content: center;
  padding-top: 59px;
  padding-bottom: 51px;
}

.bill-search-menu button {
  width: 289px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 55px;
  height: 100vh;
  padding-left: 7px;
  z-index: 1050;
}

.main-logo {
  margin-top: 15px;
}

.up-menu {
  height: 100%;
}

#mainMenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 26px;
  width: 152px;
  height: 667px;
  background-color: #001433;
  color: #ffffff;
}

.main-menu-item, 
.file-menu-item
 {  
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-menu-item {
  margin-bottom: 65px;
}

.pie-chart-submenu {
  display: none;
  position: absolute;
  width: 250px;
  left: 40px;
  top: -7px;
  z-index: 2;
  background-color: #001433;
  padding: 10px;
  padding-left: 20px;
}

.pie-chart-submenu h3 {
  font-size: 17px;
  font-weight: 500;
}

.pie-chart-submenu li {
  margin-left: 10px;
  margin-bottom: 5px;
}

.pie-chart-submenu a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.pie-chart-submenu a:hover {
  background-color: #010f25;
  text-decoration: none;
}

.pie-chart-submenu img {
  margin-right: 10px;
}

.pie-chart-menu:hover + .pie-chart-submenu,
.pie-chart-submenu:hover {
  display: block;
}

.main-content {
  padding-top: 17px;
  background-color: #e5e5e5;
}

@media (min-width: 1200px) {
  .main-content {
    padding-left: 55px;
  }
}

@media (max-width: 1200px) {
  .main-header {
    margin-left: 0;
  }
}

.chart-card {
  position: relative;
  width: 25%;
  height: 81px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
  padding: 7px;
  padding-left: 10px;
  margin-right: 11px;
  margin-bottom: 11px;
}

.chart-card-tablets {
  overflow-x: auto;
  width: 1094px;
}

.chart-card-mobile .chart-card {
  width: 263px;
}

.chart-card .close,
.header-chart-card .close {
  position: absolute;
  top: 0px;
  right: 8px;
  color: #7c7c7c;
}

.chart-card-data {
  width: 120px;
}

.chart-card .card-title {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
}

.chart-card .card-text {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 4px;
}

.card-trend {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-trend-up {
  color: #18b015;
  position: relative;
}

.card-trend-up::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 46px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  background-image: url("img/trend-up-icon.png");
}

.card-trend-down {
  color: #ff4343;
  position: relative;
}

.card-trend-down::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 47px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  background-image: url("img/trend-down-icon.png");
}

.chart-card-img {
  margin-top: 14px;
  margin-right: 17px;
}

.round-diagram {
  margin-top: 0;
  margin-right: 40px;
}

#chartCards {
  margin-bottom: 23px;
}

.carousel-indicators {
  bottom: -36px;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #bed1ee;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: #001433;
}

.header-chart-card {
  position: relative;
  width: 263px;
  
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
  overflow: auto;
}

.header-card-title {
  height: 39px;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  background-color: #001433;
  font-size: 12px;
  font-weight: 400;
  padding-top: 7px;
  padding-left: 10px;
}

.header-chart-card-block {
  height: 880px;
}

.first-column,
.second-column {
  overflow: auto;
  height: 100vh;
}

.second-column {
  margin-left: 10px;
}

@media (max-width: 1461px) {
  .second-column {
    display: none!important;
  }
}

.header-chart-tablets {
  overflow-x: auto;
  width: 1094px;
}

.header-chart-tablets .header-chart-card {
  margin-right: 10px;
  margin-bottom: 10px;
 
}

.header-chart-card-block .header-chart-card {
  margin-right: 10px;
  margin-bottom: 10px;
}

#headerCards {
  width: 263px;
  height: 380px;
  margin-bottom: 23px;
}



#effCard {
  height: 308px;
}

#expectCard {
  height: 274px;
}

#pieCard {
  height: 308px;
}

#feeCard {
  height: 379px;
}

.right-column .header-chart-card {
  margin-bottom: 15px;
}

.pie-chart {
  width: 160px;
  height: 168px;
  margin-top: 42px;
  margin-left: 50px;
  margin-bottom: 31px;
}

.pie-legend {
  width: 92px;
  height: 12px;
  margin-top: 8px;
  margin-left: 14px;
}

.pie-income {
  position: absolute;
  top: 90px;
  left: 55px;
  font-size: 12px;
}

.pie-outcome {
  position: absolute;
  top: 275px;
  left: 185px;
  font-size: 12px;
}

.fee-bar {
  width: 220px;
  height: 9px;
}

.fee-bar-legend {
  font-size: 9px;
  font-weight: 400;
  margin-bottom: -8px;
}

.fee-bar-value {
  margin-left: 150px;
}

.fee-bar-total-label {
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 4px;
}

.fee-bar-total {
  font-size: 36px;
  font-weight: normal;
  color: #009dd9;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-card-body {
  padding-left: 18px;
}

.table-card {
  width: 811px;
  overflow: auto;
  margin-right: 11px;
  margin-left: 8px;
}

.center-column .header-chart-card {
  margin-bottom: 35px;
}

.table-eff {
  width: 243px;
  margin: 0 auto;
}

.table-eff th {
  font-size: 9px;
  font-weight: 400;
  text-align: center;
}

.table-eff td {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.eff-diag {
  width: 236px;
  height: 134px;
  margin-left: 10px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.expected-prod {
  width: 244px;
  height: 150px;
  margin-top: 17px;
  margin-bottom: 68px;
  margin-left: 10px;
}

.mobile-table-card {
  margin-bottom: 50px;
}

.table-card .header-card-title,
.mobile-table-card .header-card-title {
  font-size: 10px;
  padding-left: 4px;
  padding-top: 15px;
}

.mobile-table-card .header-card-title {
  padding-left: 21px;
}

.table-card .header-card-title > span {
  width: 75px;
  margin-right: 10px;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.mobile-table-card .header-card-title > span {
  width: 68px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.table-card .header-card-title > span:first-child {
  width: 40px;
  margin-right: 5px;
}

.table-card-row {
  margin-left: 4px;
  margin-top: 13px;
  margin-bottom: 8px;
}

.mobile-card-row {
  background-color: #e5e5e5;
  font-size: 9px;
  font-weight: 500;
  padding-top: 8px;
}

.mobile-card-row span {
  display: block;
  width: 68px;
  padding-top: 2px;
  margin-right: 10px;
  text-align: center;
}

.mobile-card-row .info-pill,
.mobile-card-body .info-pill {
  display: block;
  color: #ffffff;
  width: 68px;
  height: 16px;
  border-radius: 30px;
}

.expand-btn {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0;
  padding-bottom: 0;
}

.mobile-card-body {
  font-size: 9px;
  font-weight: 500;
  background-color: #ffffff;
  padding-left: 21px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.mobile-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 68px;
  margin-right: 10px;
  margin-bottom: 6px;
}

.mobile-item-header {
  font-weight: 700;
  margin-bottom: 6px;
}

.main-info-row {
  margin-left: 40px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #e9e9e9;
  border-radius: 30px;
}

.main-info-row > span {
  width: 75px;
  margin-right: 10px;
  font-size: 10px;
  font-weight: 500;
  color: #555555;
  text-align: center;
}

.main-info-row .info-pill {
  width: 68px;
  height: 16px;
  color: #ffffff;
  border-radius: 30px;
}

.status-open {
  background-color: #ffc000;
}

.status-close {
  background-color: #ff6262;
}

.status-win {
  background-color: #009dd9;
}

.main-info-row .tool {
  font-weight: 700;
  color: #009dd9;
  text-transform: uppercase;
}

.mobile-card-row .tool {
  font-size: 10px;
  color: #009dd9;
  font-weight: 900;
  text-transform: uppercase;
}

.income-negative {
  color: #ff6262;
}

.income-positive {
  color: #00d9b2;
}

.main-info-row .direction-pill {
  border: 1px solid #009dd9;
  text-transform: uppercase;
  color: #555555;
}

.mobile-card-body .direction-pill {
  border: 1px solid #009dd9;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
  font-size: 11px;
}

.mycheckbox {
  position: relative;
}

.mycheckbox > input
{
    display: none;
}

label
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    cursor: pointer;
    
    overflow: hidden;
    z-index: 1;
}

#_checkbox:checked + label
{
  background-color: #00d9b2;
  background-image: url(img/check_mark.png);
  background-repeat: no-repeat;
  background-position: center; 
}

#_checkbox1:checked + label
{
  background-color: #00d9b2;
  background-image: url(img/check_mark.png);
  background-repeat: no-repeat;
  background-position: center; 
}
