.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-header {
  height: 96px;
}

.main-header, .main-nav {
  background-color: #001433;
  color: white;
}

.main-logo {
  margin-left: 11px;
  margin-top: 11px;
}

.info-row, .bill-search {
  font-size: 13px;
  font-weight: bold;
  margin-top: 19px;
}

.info-row button, .bill-search button {
  width: 147px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.info-bar {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 11px;
  margin-right: 21px;
}

.info-bar p, .bill-search p {
  margin-bottom: 0;
  margin-right: 20px;
  font-weight: normal;
}

.info-bar p:last-child {
  margin-right: 0;
}

.bill-search p {
  margin-right: 9px;
  margin-left: 117px;
}

.bill-search button {
  font-weight: normal;
  padding-top: 4px;
  padding-bottom: 4px;
}

.filter-panel {
  margin-top: 3px;
  margin-left: 83px;
}

.filter-item {
  margin-right: 7px;
}

.filter-item button {
  font-size: 13px;
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#cleanFilter {
  font-size: 13px;
  text-decoration: underline;
  margin-left: 25px;
}

.main-nav {
  height: calc(100vh - 96px);
  padding-left: 7px;
}

.main-menu-item, 
.file-menu-item,
.user-menu-item {
  position: relative;
  padding-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-menu-item::before, 
.file-menu-item::before,
.user-menu-item::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 11px;
  
  width: 21px;
  height: 29px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-menu-item:nth-child(1)::before {
  background-image: url('img/main_menu_icon.svg');
}

.main-menu-item:nth-child(2)::before {
  background-image: url('img/pie_chart_menu_icon.svg');
}

.main-menu-item:nth-child(3)::before {
  background-image: url('img/stats_menu_icon.svg');
}

.main-menu-item:nth-child(4)::before {
  background-image: url('img/bills_menu_icon.svg');
  left: 15px;
}

.file-menu-item:nth-child(1)::before {
  background-image: url('img/info_menu_icon.svg');
}

.file-menu-item:nth-child(2)::before {
  background-image: url('img/downloads_menu_icon.svg');
}

.user-menu-item:nth-child(1) {
  margin-top: 35px;
  margin-bottom: 35px;
}

.user-menu-item:nth-child(1)::before {
  background-image: url('img/user_color_menu_icon.svg');
  left: 0px;
  top: -9px;
  width: 42px;
  height: 42px;
}

main {
  background-color: #e5e5e5;
}

.chart-card {
  position: relative;
  width: 263px;
  height: 81px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
  padding: 7px;
  padding-left: 10px;
}

.chart-card .close {
  position: absolute;
  top: 0px;
  right: 8px;
}

.chart-card .card-title {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
}

.chart-card .card-text {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 4px;
}

.card-trend {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-trend-up {
  color: #18b015;
  position: relative;
}

.card-trend-up::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 46px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  background-image: url("img/trend-up-icon.png");
}

.card-trend-down {
  color: #ff4343;
  position: relative;
}

.card-trend-down::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 47px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  background-image: url("img/trend-down-icon.png");
}

.chart-card-img {
  margin-top: 14px;
  margin-right: 17px;
}

.round-diagram {
  margin-top: 0;
  margin-right: 40px;
}